.about-content {
  padding: 0 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  box-sizing: border-box;
}

.social-pages {
  display: flex;
  align-items: center;
  gap: 16px;
}
