.addRecipe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  text-align: left;
}

.addRecipe-main {
  background-color: #fff;
  padding: 32px;
  display: grid;
  grid-template-rows: 36px 1fr;
  gap: 32px;
  width: 768px;
  height: 300px;
  border-radius: 16px;
  box-sizing: border-box;
}

.addRecipe-header {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  align-self: center;
  box-sizing: border-box;
}

.addRecipe-headerRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.addRecipe-headerContent {
  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 16px;
}

input[type="file"] {
  display: none;
}

.uploadButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f0eb;
  border-radius: 8px;
  cursor: pointer;
}

.uploadButton {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 50px;
  background-color: #f5f0eb;
  font-weight: bold;
  border: 1px solid #a39689;
}

.title,
.description {
  border: 1px solid #a39689;
  border-radius: 8px;
  margin: 0;
  padding: 8px 12px;
  font-family: inherit;
}

.title {
  height: 40px;
  box-sizing: border-box;
}

/* .description {
  height: 112px;
} */

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  text-align: left;
  width: 360px;
  height: 268px;
  box-sizing: border-box;
}

.content-title {
  font-size: 40px;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
}

.content-description {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.recipe-main > img {
  width: 360px;
  border-radius: 8px;
}

.ingredient-header,
.instruction-header {
  font-size: 24px;
  height: 36px;
  font-weight: normal;
}

.addRecipe-ingredient,
.addRecipe-instruction {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  border-radius: 16px;
  padding: 32px;
  width: 768px;
  box-sizing: border-box;
}

.ingredient-input,
.instuction-input {
  border: 1px solid #a39689;
  border-radius: 8px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
}

input[name="ingredient-amount"] {
  border: none;
  border-right: 1px dashed #a39689;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  width: 72px;
  padding: 8px 12px;
  box-sizing: border-box;
}

input[name="ingredient"] {
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 8px 12px;
  box-sizing: border-box;
  width: 100%;
}

textarea[name="instruction"] {
  padding: 8px 12px;
  box-sizing: border-box;
  height: 40px;
  font-family: inherit;
}

/* div.instuction-list {
  counter-reset: list-number;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.instuction-input {
  display: grid;
  gap: 24px;
  grid-template-columns: 32px 1fr;
} */
