.addRecipe-page {
  width: 800px;
  padding: 0 16px;
  box-sizing: border-box;
}

.addRecipe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;

  text-align: left;
  max-width: 800px;
}

.addRecipe-main {
  background-color: #fff;
  padding: 32px;
  display: grid;
  grid-template-rows: 36px 1fr;
  gap: 32px;
  width: 100%;
  border-radius: 16px;
  box-sizing: border-box;
}

.addRecipe-header {
  align-self: center;
  box-sizing: border-box;
}

.addRecipe-headerRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  min-height: 168px;
  height: auto;
}

.addRecipe-headerContent {
  display: grid;
  flex-direction: column;
  grid-template-rows: 40px 1fr;
  gap: 16px;
}

input[type="file"] {
  display: none;
}

.uploadButtonWrapper {
  display: flex;
  gap: 16px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.image-preview {
  position: absolute;
  width: 100%;
  height: auto;
}

.uploadButton {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 100px;
  width: auto;
  height: auto;
  background-color: var(--background-color);
  font-weight: bold;
  border: 1px solid #a39689;
  cursor: pointer;
  z-index: 99;
}

.buttonContentWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.buttonReverseHalf {
  display: flex;
  gap: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--color-white);
  border: 1px solid #000;
}

.inputField,
.description {
  border: 1px solid #a39689;
  border-radius: 8px;
  padding: 8px 12px;
  font-family: inherit;
  height: auto;
  resize: vertical;
}

/* .description {
  height: auto;
} */

.inputField {
  height: 40px;
  box-sizing: border-box;
}

.addRecipe-ingredient,
.addRecipe-instruction {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  border-radius: 16px;
  padding: 32px;
  width: 100%;
  box-sizing: border-box;
}

.ingredient-input,
.instuction-input {
  border: 1px solid #a39689;
  border-radius: 8px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
}

.ingredient-input {
  position: relative;
  width: 100%;
}

input[name="ingredient-amount"] {
  font-family: inherit;

  border: none;
  border-right: 1px dashed #a39689;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  width: 72px;
  padding: 8px 12px;
  box-sizing: border-box;
}

input[name="ingredient"] {
  font-family: inherit;

  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 8px 12px;
  box-sizing: border-box;
  width: 100%;
}

textarea[name="instruction"] {
  font-family: inherit;
  padding: 8px 12px;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  resize: vertical;
}

.instructionLine {
  display: flex;
  width: 100%;
  position: relative;
}

.clearIcon {
  position: absolute;
  height: 24px;
  width: 16px;
  top: 7px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 867px) {
  .addRecipe-page {
    width: 100%;
  }
  .addRecipe {
    width: 100%;
    padding: 0;
  }
  .addRecipe-headerRow {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  .uploadButtonWrapper {
    max-width: 100%;
    object-fit: cover;
    min-height: 112px;
  }
}
