.itemDetail-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  text-align: left;
  max-width: 800px;
  box-sizing: border-box;
}

.recipe-main {
  padding: 16px;
  display: flex;
  gap: 16px;
  width: 100%;
  border-radius: 16px;
  box-sizing: border-box;
}

.one {
  background-color: #eacdad;
}

.two {
  background-color: #ebc8cf;
}

.three {
  background-color: #bcc4d5;
}

.four {
  background-color: #f2d4bf;
}

.five {
  background-color: #dfd1dd;
}

.six {
  background-color: #b6d2ce;
}

.seven {
  background-color: #f4eab4;
}

.eight {
  background-color: #c8c9d9;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  text-align: left;
  box-sizing: border-box;
}

.authorInfoWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.authorImageSmall {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.ownerInfoSmall {
  display: flex;
  flex-direction: column;
}

.recipe-main > img {
  width: 360px;
  height: 268px;
  border-radius: 8px;
}

.detailPage-ingredients,
.detailPage-instruction {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  border-radius: 16px;
  padding: 32px;
  width: 100%;
  box-sizing: border-box;
}

.ingredient-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ingredient-item {
  display: grid;
  grid-template-columns: 72px 1fr;
}

div.instuction-list {
  counter-reset: list-number;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

div.instuction-list div:before {
  counter-increment: list-number;
  content: counter(list-number);
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  color: var(--third-color);
  border: 1px solid #d6c9bc;
}

.instuction-item {
  display: grid;
  gap: 24px;
  grid-template-columns: 32px 1fr;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.deleteModalContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  box-sizing: border-box;
}

.closeIcon {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 20px;
  width: auto;
  cursor: pointer;
}

@media (max-width: 867px) {
  .itemDetail-page {
    width: 100%;
    padding: 0;
  }

  .recipe-main {
    flex-direction: column-reverse;
  }

  .recipe-main > img {
    max-width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 590px) {
  .deleteModalContent {
    padding: 28px;
  }
}
