.allRecipeWrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 0 16px;
  box-sizing: border-box;
}

.recipe-columns {
  display: flex;
  gap: 32px;
  width: 100%;
}

.left-column,
.right-column {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.left-column > .findTheChild:nth-of-type(1n) .list-recipe {
  background-color: #ebdcc8;
}
.left-column > .findTheChild:nth-of-type(2n) .list-recipe {
  background-color: #bcc4d5;
}
.left-column > .findTheChild:nth-of-type(3n) .list-recipe {
  background-color: #dfd1dd;
}
.left-column > .findTheChild:nth-of-type(4n) .list-recipe {
  background-color: #f4eab4;
}

.right-column > .findTheChild:nth-of-type(1n) .list-recipe {
  background-color: #ebc8cf;
}

.right-column > .findTheChild:nth-of-type(2n) .list-recipe {
  background-color: #f2d4bf;
}

.right-column > .findTheChild:nth-of-type(3n) .list-recipe {
  background-color: #b6d2ce;
}

.right-column > .findTheChild:nth-of-type(4n) .list-recipe {
  background-color: #c8c9d9;
}

.list-recipe {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 12px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 16px;
  width: 368px;
}

.list-recipe:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.imageWrapper {
  padding: 0;
  margin: 0;
  border-radius: 8px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  min-width: 100%;
  min-height: 100%;
}

.listContent {
  padding: 16px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listItem-link {
  text-decoration: none;
  color: #000;
}

@media (max-width: 867px) {
  .grid-container {
    width: 100%;
  }

  .recipe-columns {
    flex-direction: column;
  }
  .left-column,
  .right-column {
    width: 100%;
  }
}
