.itemDetailPageWrapper {
  width: 100%;
}

.itemDetail-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  text-align: left;
  max-width: 800px;
  box-sizing: border-box;
}

.recipeHeadWrapper {
  width: 100%;
  height: auto;
  display: flex;
  gap: 32px;
}

.recipeHeaderContent {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  border-radius: 16px;
  box-sizing: border-box;
}

.one {
  background-color: #eacdad;
}

.two {
  background-color: #ebc8cf;
}

.three {
  background-color: #bcc4d5;
}

.four {
  background-color: #f2d4bf;
}

.five {
  background-color: #dfd1dd;
}

.six {
  background-color: #b6d2ce;
}

.seven {
  background-color: #f4eab4;
}

.eight {
  background-color: #c8c9d9;
}

.authorInfoWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.authorImageSmallWrapper {
  height: 40px;
  width: 40px;
}
.authorImageSmall {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.ownerInfoSmall {
  display: flex;
  flex-direction: column;
}

.recipeImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.recipeImage {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.detailPage-ingredients,
.detailPage-instruction {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  border-radius: 16px;
  padding: 32px;
  width: 100%;
  box-sizing: border-box;
}

.ingredient-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ingredient-item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.ingredientGap {
  flex-grow: 1;
  height: 24px;
  margin: 0;
  padding: 0;
  border-bottom: 1px dashed #a39689;
}

div.instuction-list {
  counter-reset: list-number;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

div.instuction-list div:before {
  counter-increment: list-number;
  content: counter(list-number);
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  color: var(--third-color);
  border: 1px solid #d6c9bc;
}

.instuction-item {
  display: grid;
  gap: 24px;
  grid-template-columns: 32px 1fr;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.deleteModalContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  box-sizing: border-box;
}

@media (max-width: 867px) {
  .itemDetail-page {
    width: 100%;
    padding: 0;
  }

  .recipeHeadWrapper {
    flex-direction: column-reverse;
  }
}

@media (max-width: 590px) {
  .deleteModalContent {
    padding: 28px;
  }
}
