.header {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 64px 0 32px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.inner {
  width: 100%;
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  display: flex;
  gap: 12px;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  align-items: center;
}

.logoWrapper {
  width: 48px;
  height: 48px;
}

.logoImage {
  max-height: 100%;
  max-width: 100%;
  object-position: center;
}

.navigation {
  display: flex;
  gap: 24px;
  align-items: center;
}

.home.active,
.about.active,
.profil.active {
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

@media (max-width: 1024px) {
  .inner {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    gap: 16px;
  }

  .navigation {
    gap: 16px;
    flex-wrap: wrap;
  }
}
