.skeleton {
  background-color: var(--secondary-background-color);
  border-radius: 20px;
  overflow: hidden;
}

.skeletonRecipeCard {
  height: 390px;
  width: 320px;
}

.skeletonDetailRecipesMain {
  height: 300px;
  max-height: 600px;
  width: 100%;
}

.skeletonUserInfoBox {
  height: 212px;
}

.skeleton::after {
  content: "";
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: loading 1.5s infinite;
}

.skeleton-text {
  background-color: var(--secondary-background-color);
  height: 1.2em;
  width: 70vw;
  max-width: 100%;
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
}

.skeleton-text.short {
  width: 10%;
}

.skeleton-text::after {
  content: "";
  display: block;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
