.passwordBox {
  display: flex;
  gap: 8px;
  align-items: center;
}

.passwordBox label {
  width: 120px;
  flex-shrink: 0;
}

.passwordBox input {
  flex: 1;
}

.zindex {
  z-index: 99;
}

@media (max-width: 867px) {
  .passwordBox {
    flex-direction: column;
    align-items: flex-start;
  }
}
