/* .listItem {
  display: flex;
  flex-direction: column;
  width: 25%;
  flex-shrink: 0;
  padding: 16px 32px;
  box-sizing: border-box;
  border: 1px solid black;
} */

.action {
  display: flex;
  justify-content: center;
  align-items: center; /* Zentriert die Elemente vertikal */
  gap: 16px; /* Horizontaler Abstand zwischen den Elementen */
}
