.recipe-list-wrapper {
  display: grid;
  /* grid-template-columns: 1fr; */
  gap: 32px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.recipe-list {
  display: grid;
  /* grid-template-columns: 1fr; */
  gap: 32px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list-recipe {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  padding: 12px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 16px;
  width: 320px;
  background-color: #eacdad;
  border: 1px solid black;
}

.image-wrapper {
  padding: 0;
  margin: 0;
  border-radius: 8px;
  width: 296px;
  height: 174px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.image-wrapper > img {
  min-width: 100%;
  min-height: 100%;
}

.list-content {
  padding: 16px;
  margin: 0;
  box-sizing: border-box;
  display: grid;

  gap: 8px;
  height: 160px;
}

.list-content a {
  text-decoration: none;
}

.list-title {
  height: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.list-title > h3 {
  font-size: 32px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.list-description {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.list-description > p {
  height: 72px;
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
