.sidebar {
  position: fixed;
  text-align: right;
  height: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 0 32px;
  text-align: center;
  /* border: 1px solid black; */
}
