/* Regular */
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../src/assets/font/OpenSans-Regular.ttf") format("truetype");
}

/* semiBold */
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../src/assets/font/OpenSans-SemiBold.ttf") format("truetype");
}

/* Regular */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../src/assets/font/Fraunces_9pt-Regular.ttf") format("truetype");
}

/* semiBold */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../src/assets/font/Fraunces_9pt-SemiBold.ttf") format("truetype");
}
