@import "font.css";

:root {
  --background-color: #f5f0eb;
  --secondary-background-color: #ebe4dd;
  --secondary-color: #a39689;
  --third-color: #665c52;
  --main-color: #f2d4bf;
  --color-black: #000;
  --color-white: #fff;
  --color-attention: #ff6961;

  --font-weight-normal: 400;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;

  --font-size-xsmall: 12px;
  --font-size-small: 16px;
  --font-size-medium: 24px;
  --font-size-large: 32px;
  --font-size-xlarge: 40px;

  --font-family-main: "Fraunces", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-family-secondary: "OpenSans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

.primaryColor {
  color: var(--color-black);
}

.secondaryColor {
  color: var(--secondary-color);
}

.thirdColor {
  color: var(--third-color);
}

.noUnderline {
  text-decoration: none;
}

.pageTitle {
  font-family: var(--font-family-main);
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-semiBold);
  line-height: 1.5em;
  margin: 0;
}

.title {
  font-family: var(--font-family-main);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semiBold);
  line-height: 1.5em;
  margin: 0;
}

.headline {
  font-family: var(--font-family-main);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semiBold);
  line-height: 1.5em;
  margin: 0;
}

.mainFont {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  margin: 0;
}

.meta {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-normal);
  margin: 0;
}

.buttonFont {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semiBold);
  margin: 0;
}

.buttonFontReverse {
  color: var(--color-white);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semiBold);
  margin: 0;
}

.boldWeigth {
  font-weight: var(--font-weight-bold);
}

.semiBoldWeigth {
  font-weight: var(--font-weight-semiBold);
}

.mainFontFamily {
  font-family: var(--font-family-main);
}

.normalLineHeight {
  line-height: 100%;
}
